HIPCHAT_ROOM_ID=<id>
HIPCHAT_AUTH_TOKEN=<token>

KAFKA_HOST=https://<host>:<port>
KAFKA_USER=<ns.user>
KAFKA_PASSWORD=<password>
KAFKA_TOPIC=<topic>

REDIS_URL=<redis_url>
REDIS_PORT=<redis_port>
REDIS_DB=<db_num>
REDIS_PASSWORD=<password>

MAIL_SMTP_URL=<smtp_url>
MAIL_SMTP_USER=<user>
MAIL_SMTP_PASSWORD=<password>
