HIPCHAT_ROOM_ID=<id>
HIPCHAT_AUTH_TOKEN=<token>

KAFKA_HOST=https://<host>:<port>
KAFKA_USER=<ns.user>
KAFKA_PASSWORD=<password>
KAFKA_TOPIC=<topic>

REDIS_URL=<redis_url>:<redis_port>
REDIS_PASSWORD:<password>