HIPCHAT_ROOM_ID=<id>
HIPCHAT_AUTH_TOKEN=<token>

KAFKA_HOST=https://<host>:<port>
KAFKA_USER=<ns.user>
KAFKA_PASSWORD=<password>
KAFKA_TOPIC=<topic>

REDIS_URL=redis://x:<password>@<url>:<port>/<db_num>

MAIL_FROM=<from>
MAIL_SMTP_URL=smtps://<email>:<password>@<smtp_url>