HIPCHAT_ROOM_ID=<id>
HIPCHAT_AUTH_TOKEN=<token>

KAFKA_HTTP_HOST=https://<host>
KAFKA_HTTP_USER=<ns.user>
KAFKA_HTTP_PASSWORD=<password>
KAFKA_HTTP_TOPIC=<ns.topic>

KAFKA_HOST=<host>:<port>
KAFKA_USER=<ns.user>
KAFKA_PASSWORD=<password>
KAFKA_TOPIC=<ns.topic>

REDIS_HOST=<url>
REDIS_DB=<db_number>
REDIS_PASSWORD=<password>

MAIL_FROM=<from>
MAIL_SMTP_URL=smtps://<email>:<password>@<smtp_url>

MAIL_SMTP_USERNAME=<user>
MAIL_SMTP_PASSWORD=<password>
MAIL_SMTP_HOST=<url>
MAIL_SMTP_PORT=<port>